trimesh[easy]
opencv-python
#pip install -e "git+https://github.com/Formlabs/Formlabs-SDK.git/#egg=formlabs-sdk&subdirectory=python/pythonlib"
#pip install git+https://github.com/facebookresearch/segment-anything.git # not anymore
#pip install -U git+https://github.com/luca-medeiros/lang-segment-anything.git
pyglet<2
embreex
pyembree
websockets

speechrecognition
pyaudio
pyttsx3

tqdm
rich
ninja
numpy
pandas
scipy
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg
omegaconf

torch
einops
plyfile
pygltflib

# for gui
dearpygui

# for stable-diffusion
huggingface_hub
diffusers
accelerate
transformers

# for dmtet and mesh export
xatlas
trimesh
PyMCubes
pymeshlab

rembg[gpu,cli]

# gradio demo
gradio